* {
  box-sizing: border-box;
}
body {
}
.orange-bg {
  background-color: steelblue;
}
.blue-bg {
  background-color: palevioletred;
}
.white-bg {
  background-color: lightslategrey;
}
.purple-bg {
  background-color: lightseagreen;
}
.yellow-bg {
  background-color: darkslateblue;
}
.brown-bg {
  background-color: peru;
}
.pink-bg {
  background-color: cornflowerblue;
}
.green-bg {
  background-color: palevioletred;
}
.red-bg {
  background-color: dimgrey;
}
.black-bg {
  background-color: sandybrown;
}
main {
  position: fixed;
  left: calc(50% - 300px);
  top: calc(50% - 270px);
}
.hide {
  display: none;
}
.step {
  width: 360px;
  height: 68px;
  background-color: darkgray;
  position: absolute;
  top: 640px;
  left: -9px;
}
.lockset {
  position: absolute;
  top: 322px;
  left: 247px;
}
.knob {
  width: 17px;
  height: 17px;
  background-color: gray;
  position: absolute;
  top: 5px;
  left: 3px;
  border-radius: 50%;
  z-index: 5;
  box-shadow: -4px 4px 5px #222;
}
.lock {
  width: 23px;
  height: 70px;
  background-color: dimgray;
  position: absolute;
  top: -4px;
  left: 0px;
  border-radius: 30%;
}
/* TEXT */
.text {
  width: 230px;
  position: absolute;
  top: 450px;
  left: 410px;
}
h1 {
  font-family: prata;
  font-size: 20px;
  letter-spacing: 1px;
  color: white;
}
p {
  font-family: nunito;
  font-size: 16px;
  color: white;
}
/* ORANGE */
.orange {
  width: 300px;
  height: 620px;
  background-color: hsl(30, 85%, 50%);
  position: absolute;
  top: 20px;
  left: 20px;
  border-top: solid floralwhite 12px;
  border-left: solid floralwhite 12px;
  border-right: solid floralwhite 12px;
}
.orange .paneltop {
  width: 80px;
  height: 60px;
  position: absolute;
  top: 40px;
  left: 40px;
  border-top: solid hsl(30, 85%, 40%) 12px;
  border-right: solid hsl(30, 85%, 45%) 12px;
  border-left: solid hsl(30, 85%, 55%) 12px;
  border-bottom: solid hsl(30, 85%, 60%) 12px;
}
.orange .panelmiddle {
  width: 80px;
  height: 170px;
  position: absolute;
  top: 140px;
  left: 40px;
  border-top: solid hsl(30, 85%, 40%) 12px;
  border-right: solid hsl(30, 85%, 45%) 12px;
  border-left: solid hsl(30, 85%, 55%) 12px;
  border-bottom: solid hsl(30, 85%, 60%) 12px;
}
.orange .panelbottom {
  width: 80px;
  height: 215px;
  position: absolute;
  top: 350px;
  left: 40px;
  border-top: solid hsl(30, 85%, 40%) 12px;
  border-right: solid hsl(30, 85%, 45%) 12px;
  border-left: solid hsl(30, 85%, 55%) 12px;
  border-bottom: solid hsl(30, 85%, 60%) 12px;
}
.orange .right {
  left: 155px;
}
/* BLUE */
.blue {
  width: 300px;
  height: 620px;
  background-color: hsl(205, 65%, 50%);
  position: absolute;
  top: 20px;
  left: 20px;
  border-top: solid floralwhite 12px;
  border-left: solid floralwhite 12px;
  border-right: solid floralwhite 12px;
}
.blue .paneltop {
  width: 80px;
  height: 60px;
  position: absolute;
  top: 40px;
  left: 40px;
  border-top: solid hsl(205, 65%, 40%) 12px;
  border-right: solid hsl(205, 65%, 45%) 12px;
  border-left: solid hsl(205, 65%, 55%) 12px;
  border-bottom: solid hsl(205, 65%, 60%) 12px;
}
.blue .panelmiddle {
  width: 80px;
  height: 170px;
  position: absolute;
  top: 140px;
  left: 40px;
  border-top: solid hsl(205, 65%, 40%) 12px;
  border-right: solid hsl(205, 65%, 45%) 12px;
  border-left: solid hsl(205, 65%, 55%) 12px;
  border-bottom: solid hsl(205, 65%, 60%) 12px;
}
.blue .panelbottom {
  width: 80px;
  height: 215px;
  position: absolute;
  top: 350px;
  left: 40px;
  border-top: solid hsl(205, 65%, 40%) 12px;
  border-right: solid hsl(205, 65%, 45%) 12px;
  border-left: solid hsl(205, 65%, 55%) 12px;
  border-bottom: solid hsl(205, 65%, 60%) 12px;
}
.blue .right {
  left: 155px;
}
/* WHITE */
.white {
  width: 300px;
  height: 620px;
  background-color: hsl(50, 0%, 90%);
  position: absolute;
  top: 20px;
  left: 20px;
  border-top: solid #333 12px;
  border-left: solid #333 12px;
  border-right: solid #333 12px;
}
.white .paneltop {
  width: 80px;
  height: 60px;
  position: absolute;
  top: 40px;
  left: 40px;
  border-top: solid hsl(50, 0%, 80%) 12px;
  border-right: solid hsl(50, 0%, 85%) 12px;
  border-left: solid hsl(50, 0%, 95%) 12px;
  border-bottom: solid hsl(50, 0%, 100%) 12px;
}
.white .panelmiddle {
  width: 80px;
  height: 170px;
  position: absolute;
  top: 140px;
  left: 40px;
  border-top: solid hsl(50, 0%, 80%) 12px;
  border-right: solid hsl(50, 0%, 85%) 12px;
  border-left: solid hsl(50, 0%, 95%) 12px;
  border-bottom: solid hsl(50, 0%, 100%) 12px;
}
.white .panelbottom {
  width: 80px;
  height: 215px;
  position: absolute;
  top: 350px;
  left: 40px;
  border-top: solid hsl(50, 0%, 80%) 12px;
  border-right: solid hsl(50, 0%, 85%) 12px;
  border-left: solid hsl(50, 0%, 95%) 12px;
  border-bottom: solid hsl(50, 0%, 100%) 12px;
}
.white .right {
  left: 155px;
}
/* PURPLE */
.purple {
  width: 300px;
  height: 620px;
  background-color: hsl(260, 50%, 50%);
  position: absolute;
  top: 20px;
  left: 20px;
  border-top: solid floralwhite 12px;
  border-left: solid floralwhite 12px;
  border-right: solid floralwhite 12px;
}
.purple .paneltop {
  width: 80px;
  height: 60px;
  position: absolute;
  top: 40px;
  left: 40px;
  border-top: solid hsl(260, 50%, 40%) 12px;
  border-right: solid hsl(260, 50%, 45%) 12px;
  border-left: solid hsl(260, 50%, 55%) 12px;
  border-bottom: solid hsl(260, 50%, 60%) 12px;
}
.purple .panelmiddle {
  width: 80px;
  height: 170px;
  position: absolute;
  top: 140px;
  left: 40px;
  border-top: solid hsl(260, 50%, 40%) 12px;
  border-right: solid hsl(260, 50%, 45%) 12px;
  border-left: solid hsl(260, 50%, 55%) 12px;
  border-bottom: solid hsl(260, 50%, 60%) 12px;
}
.purple .panelbottom {
  width: 80px;
  height: 215px;
  position: absolute;
  top: 350px;
  left: 40px;
  border-top: solid hsl(260, 50%, 40%) 12px;
  border-right: solid hsl(260, 50%, 45%) 12px;
  border-left: solid hsl(260, 50%, 55%) 12px;
  border-bottom: solid hsl(260, 50%, 60%) 12px;
}
.purple .right {
  left: 155px;
}
/* YELLOW */
.yellow {
  width: 300px;
  height: 620px;
  background-color: hsl(45, 85%, 50%);
  position: absolute;
  top: 20px;
  left: 20px;
  border-top: solid floralwhite 12px;
  border-left: solid floralwhite 12px;
  border-right: solid floralwhite 12px;
}
.yellow .paneltop {
  width: 80px;
  height: 60px;
  position: absolute;
  top: 40px;
  left: 40px;
  border-top: solid hsl(45, 85%, 40%) 12px;
  border-right: solid hsl(45, 85%, 45%) 12px;
  border-left: solid hsl(45, 85%, 55%) 12px;
  border-bottom: solid hsl(45, 85%, 60%) 12px;
}
.yellow .panelmiddle {
  width: 80px;
  height: 170px;
  position: absolute;
  top: 140px;
  left: 40px;
  border-top: solid hsl(45, 85%, 40%) 12px;
  border-right: solid hsl(45, 85%, 45%) 12px;
  border-left: solid hsl(45, 85%, 55%) 12px;
  border-bottom: solid hsl(45, 85%, 60%) 12px;
}
.yellow .panelbottom {
  width: 80px;
  height: 215px;
  position: absolute;
  top: 350px;
  left: 40px;
  border-top: solid hsl(45, 85%, 40%) 12px;
  border-right: solid hsl(45, 85%, 45%) 12px;
  border-left: solid hsl(45, 85%, 55%) 12px;
  border-bottom: solid hsl(45, 85%, 60%) 12px;
}
.yellow .right {
  left: 155px;
}
/* BROWN */
.brown {
  width: 300px;
  height: 620px;
  background-color: hsl(30, 100%, 20%);
  position: absolute;
  top: 20px;
  left: 20px;
  border-top: solid #333 12px;
  border-left: solid #333 12px;
  border-right: solid #333 12px;
}
.brown .paneltop {
  width: 80px;
  height: 60px;
  position: absolute;
  top: 40px;
  left: 40px;
  border-top: solid hsl(30, 100%, 10%) 12px;
  border-right: solid hsl(30, 100%, 15%) 12px;
  border-left: solid hsl(30, 100%, 25%) 12px;
  border-bottom: solid hsl(30, 100%, 30%) 12px;
}
.brown .panelmiddle {
  width: 80px;
  height: 170px;
  position: absolute;
  top: 140px;
  left: 40px;
  border-top: solid hsl(30, 100%, 10%) 12px;
  border-right: solid hsl(30, 100%, 15%) 12px;
  border-left: solid hsl(30, 100%, 25%) 12px;
  border-bottom: solid hsl(30, 100%, 30%) 12px;
}
.brown .panelbottom {
  width: 80px;
  height: 215px;
  position: absolute;
  top: 350px;
  left: 40px;
  border-top: solid hsl(30, 100%, 10%) 12px;
  border-right: solid hsl(30, 100%, 15%) 12px;
  border-left: solid hsl(30, 100%, 25%) 12px;
  border-bottom: solid hsl(30, 100%, 30%) 12px;
}
.brown .right {
  left: 155px;
}
/* PINK */
.pink {
  width: 300px;
  height: 620px;
  background-color: hsl(325, 80%, 75%);
  position: absolute;
  top: 20px;
  left: 20px;
  border-top: solid floralwhite 12px;
  border-left: solid floralwhite 12px;
  border-right: solid floralwhite 12px;
}
.pink .paneltop {
  width: 80px;
  height: 60px;
  position: absolute;
  top: 40px;
  left: 40px;
  border-top: solid hsl(325, 80%, 65%) 12px;
  border-right: solid hsl(325, 80%, 70%) 12px;
  border-left: solid hsl(325, 80%, 80%) 12px;
  border-bottom: solid hsl(325, 80%, 85%) 12px;
}
.pink .panelmiddle {
  width: 80px;
  height: 170px;
  position: absolute;
  top: 140px;
  left: 40px;
  border-top: solid hsl(325, 80%, 65%) 12px;
  border-right: solid hsl(325, 80%, 70%) 12px;
  border-left: solid hsl(325, 80%, 80%) 12px;
  border-bottom: solid hsl(325, 80%, 85%) 12px;
}
.pink .panelbottom {
  width: 80px;
  height: 215px;
  position: absolute;
  top: 350px;
  left: 40px;
  border-top: solid hsl(325, 80%, 65%) 12px;
  border-right: solid hsl(325, 80%, 70%) 12px;
  border-left: solid hsl(325, 80%, 80%) 12px;
  border-bottom: solid hsl(325, 80%, 85%) 12px;
}
.pink .right {
  left: 155px;
}
/* GREEN */
.green {
  width: 300px;
  height: 620px;
  background-color: hsl(145, 65%, 20%);
  position: absolute;
  top: 20px;
  left: 20px;
  border-top: solid floralwhite 12px;
  border-left: solid floralwhite 12px;
  border-right: solid floralwhite 12px;
}
.green .paneltop {
  width: 80px;
  height: 60px;
  position: absolute;
  top: 40px;
  left: 40px;
  border-top: solid hsl(145, 65%, 10%) 12px;
  border-right: solid hsl(145, 65%, 15%) 12px;
  border-left: solid hsl(145, 65%, 25%) 12px;
  border-bottom: solid hsl(145, 65%, 30%) 12px;
}
.green .panelmiddle {
  width: 80px;
  height: 170px;
  position: absolute;
  top: 140px;
  left: 40px;
  border-top: solid hsl(145, 65%, 10%) 12px;
  border-right: solid hsl(145, 65%, 15%) 12px;
  border-left: solid hsl(145, 65%, 25%) 12px;
  border-bottom: solid hsl(145, 65%, 30%) 12px;
}
.green .panelbottom {
  width: 80px;
  height: 215px;
  position: absolute;
  top: 350px;
  left: 40px;
  border-top: solid hsl(145, 65%, 10%) 12px;
  border-right: solid hsl(145, 65%, 15%) 12px;
  border-left: solid hsl(145, 65%, 25%) 12px;
  border-bottom: solid hsl(145, 65%, 30%) 12px;
}
.green .right {
  left: 155px;
}
/* RED */
.red {
  width: 300px;
  height: 620px;
  background-color: hsl(5, 85%, 50%);
  position: absolute;
  top: 20px;
  left: 20px;
  border-top: solid #333 12px;
  border-left: solid #333 12px;
  border-right: solid #333 12px;
}
.red .paneltop {
  width: 80px;
  height: 60px;
  position: absolute;
  top: 40px;
  left: 40px;
  border-top: solid hsl(5, 85%, 40%) 12px;
  border-right: solid hsl(5, 85%, 45%) 12px;
  border-left: solid hsl(5, 85%, 55%) 12px;
  border-bottom: solid hsl(5, 85%, 60%) 12px;
}
.red .panelmiddle {
  width: 80px;
  height: 170px;
  position: absolute;
  top: 140px;
  left: 40px;
  border-top: solid hsl(5, 85%, 40%) 12px;
  border-right: solid hsl(5, 85%, 45%) 12px;
  border-left: solid hsl(5, 85%, 55%) 12px;
  border-bottom: solid hsl(5, 85%, 60%) 12px;
}
.red .panelbottom {
  width: 80px;
  height: 215px;
  position: absolute;
  top: 350px;
  left: 40px;
  border-top: solid hsl(5, 85%, 40%) 12px;
  border-right: solid hsl(5, 85%, 45%) 12px;
  border-left: solid hsl(5, 85%, 55%) 12px;
  border-bottom: solid hsl(5, 85%, 60%) 12px;
}
.red .right {
  left: 155px;
}
/* BLACK */
.black {
  width: 300px;
  height: 620px;
  background-color: hsl(35, 0%, 10%);
  position: absolute;
  top: 20px;
  left: 20px;
  border-top: solid floralwhite 12px;
  border-left: solid floralwhite 12px;
  border-right: solid floralwhite 12px;
}
.black .paneltop {
  width: 80px;
  height: 60px;
  position: absolute;
  top: 40px;
  left: 40px;
  border-top: solid hsl(35, 0%, 0%) 12px;
  border-right: solid hsl(35, 0%, 5%) 12px;
  border-left: solid hsl(35, 0%, 15%) 12px;
  border-bottom: solid hsl(35, 0%, 20%) 12px;
}
.black .panelmiddle {
  width: 80px;
  height: 170px;
  position: absolute;
  top: 140px;
  left: 40px;
  border-top: solid hsl(35, 0%, 0%) 12px;
  border-right: solid hsl(35, 0%, 5%) 12px;
  border-left: solid hsl(35, 0%, 15%) 12px;
  border-bottom: solid hsl(35, 0%, 20%) 12px;
}
.black .panelbottom {
  width: 80px;
  height: 215px;
  position: absolute;
  top: 350px;
  left: 40px;
  border-top: solid hsl(35, 0%, 0%) 12px;
  border-right: solid hsl(35, 0%, 5%) 12px;
  border-left: solid hsl(35, 0%, 15%) 12px;
  border-bottom: solid hsl(35, 0%, 20%) 12px;
}
.black .right {
  left: 155px;
}
