body {
  background-color: #616161;
}


.board {
  width: 800px;
  display: flow-root;
  margin: 100px auto;
}
.black {
  width: 100px;
  height: 100px;
  background-color: #222222;
  float: left;
}
.red {
  width: 100px;
  height: 100px;
  background-color: #e60026;
  float: left;
}


.grid{
  /* box-sizing: border-box; */
  width: 900px;
  height: auto;
  margin: auto;
  margin-top: 20px;
  display: flow-root;
}
.gridheader {
  width: 100%;
  height: 100px;
  background-color: black;
  float: left;
  margin-bottom: 15px;
}
nav {
  width: 100%;
  height: 25px;
  background-color: white;
  float: left;
  margin-bottom: 15px;
  display: flow-root;
}
main {
  display: grid;
  width: 100%;
  height: 500px;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
  float: left;
  margin-bottom: 15px;
}
.col {
  background-color: #e60026;
}
footer {
  width: 100%;
  height: 100px;
  background-color: black;
  float: left;
  margin-bottom: 15px;
}


.blog {
  box-sizing: border-box;
  width: 700px;
  height: auto;
  margin: 20px;
  margin-top: 50px;
  display: flow-root;
}
.blogheader {
  width: 100%;
  height: 120px;
  background-color: black;
  float: left;
  margin-bottom: 80px;
}
.blogpost {
  box-sizing: border-box;
  width: 100%;
  height: 350px;
  float: left;
  display: flow-root;
  margin-bottom: 80px;
}
.post {
  width: 79%;
  height: 93%;
  background-color: #e60026;
  float: left;
  margin-bottom: 2%;
  margin-right: 2%;
}
.comment {
  width: 79%;
  height: 7%;
  background-color: white;
  float: left;
}
.sidebox {
  width: 19%;
  height: 50%;
  background-color: #e60026;
  float: right;
}
