body {
  background-color: white;
  color: #666666;
  margin-top: 75px;
  margin-left: 10%;
  margin-right: 15%;
  margin-bottom: 20%;
}

h1 {
  font-family: DM Serif Text;
  font-size: 70px;
  font-weight: bold;
  color: #0C0944;
  line-height: 1.2;
  width: 550px;
}

.intro p {
  font-size: 25px;
  line-height: 1.4;
  padding-top: 18px;
}

h5 {
  font-family: roboto;
  font-size: 18px;
  font-style: italic;
  color: #CD212D;
  padding-bottom: 60px;
  line-height: 0.05;
  text-decoration-line: underline;
  text-decoration-color: #CD212D;
  text-decoration-thickness: 2px;
}

p {
  font-family: roboto;
  font-size: 18px;
  font-weight: lighter;
  line-height: 1.7;
  width: 685px;
  padding: 2px;
}

h2 {
  font-family: DM Serif Text;
  font-size: 36px;
  font-weight: bold;
  color: #0C0944;
  line-height: 1.2;
  width: 500px;
  padding-top: 40px;
}

ul {
  font-family: roboto;
  font-size: 18px;
  font-weight: lighter;
  line-height: 1.6;
  width: 550px;
  padding: 2px;
  color: #0C0944;
  margin-left: 40px;
}

a {
  color: #0C0944;
  text-decoration-color: #0C0944;
  text-decoration-thickness: 2px;
}

a:hover {
  color: #CD212D;
  text-decoration-color: #CD212D;
  text-decoration-thickness: 2px;
}

h3 {
  font-family: DM Serif Text;
  font-size: 22px;
  font-weight: normal;
  color: #0C0944;
  line-height: 1.2;
  width: 500px;
  padding-top: 30px;
}

.conclusion p {
  padding-top: 40px;
}
