body {
  background-color: #2D2A2B;
  margin-top: 90px;
  color: #F4F4F5;
  margin-left: 100px;
}

img {
  max-width: 25%;
  height: auto;
}

h1 {
  font-family: open sans;
  font-size: 40px;
  color: #ED1C24;
  margin-left: 175px;
}

h2 {
  font-family: open sans;
  font-size: 30px;
  text-transform: uppercase;
  margin-left: 175px;
}

ul {
  font-family: Lato;
  font-size: 18px;
  color: #F4F4F5;
  margin-left: 170px;
  margin-top: 50px;
}

a {
  text-decoration: line-through;
  text-decoration-thickness: 2px;
  text-decoration-color: #ED1C24;
}

a:visited {
  color: #F4F4F5;
}

a:hover {
  color: #ED1C24;
  text-decoration: underline;
  text-decoration-thickness: 2px;
}
